@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600&display=swap');

body {
  background-color: #fafafa;
  color: rgba(38, 38, 38, 0.7);
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}